* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Merriweather", serif;
}

/************HEADER SECTION**************/

.header {
  background-color: #95adb6;
}

.navbar {
  background-color: #8da1b9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  gap: 2em;
  padding: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
