* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Merriweather", serif;
}

/************HEADER SECTION**************/

.body {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #4e6e58;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  gap: 2em;
  padding: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  font-size: 18px;
  font-weight: 500;
}

/**************HERO SECTION**************/

.hero {
  min-height: 500px;
  background-color: #4e6e58;
  display: flex;
  flex: 1;
}

.img-hero {
  min-width: 500px;
  max-height: 320px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
}

.hero-text {
  color: #fff;
  margin: 4em;
  padding: 2em 5em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero-main-text {
  padding-bottom: 0.2em;
  flex: 1;
  color: #f9faf8;
  font-size: 48px;
  font-weight: extra-bold;
}

.hero-secondary-text {
  padding-bottom: 0.5em;
  flex: 1;
  color: #e5e7eb;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Roboto", sans-serif;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.signup-button {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.sign-up {
  background: #d7d9ce;
  color: #4e6e58;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 42px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

/**************INFO SECTION**************/

.info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #d7d9ce;
  min-height: 400px;
}

.info-header {
  color: #4e6e58;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  margin: 0.5em 0.5em;
}

img {
  min-width: 125px;
  max-height: 150px;
  border-radius: 10px;
  border: 5px solid #4e6e58;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
}

.image-gallery {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 2em;
  flex-direction: row;
}

.info-text {
  display: flex;
  justify-content: center;
  padding: 0.5em 0.3em;
  flex-direction: row;
  max-width: 230px;
  min-height: auto;
  color: #4e6e58;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/**************QUOTE SECTION**************/

.quote-section {
  min-height: 300px;
  background-color: #ece2d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote,
.from {
  color: #4e6e58;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote {
  display: flex;
  justify-content: center;
  padding: 0 5em;
  margin-bottom: 0.2em;
}

.from {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
}

/**************CTA SECTION**************/

.cta-section {
  min-height: 250px;
  background-color: #d7d9ce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  height: 150px;
  width: 1000px;
  background-color: #4e6e58;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-text {
  display: flex;
  flex: 2;
  flex-direction: column;
  /* padding: 0 0 0 3em; */
}

.cta-primary-text {
  color: #f9faf8;
  font-size: 22px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding-left: 4em;
}

.cta-secondary-text {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding-left: 6.2em;
}

.signup-cta {
  display: flex;
  flex: 1;
}

button {
  background: #d7d9ce;
  color: #4e6e58;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 42px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

/**********************FOOTER**************************/

.footer {
  min-height: 100px;
  background-color: #4e6e58;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.footer-link {
  color: #e1ce7a;
}
